@charset "UTF-8";

 .login{
	margin: auto;
	width: 300px;
	text-align: center;
	padding: 20px;
}

.login1{
	margin: auto;
	width: 300px;
	text-align: center;
	 padding: 20px; 
}

.login2{
	
	margin: auto;
	width: 300px;
	text-align: center;
	 padding: 20px; 
}
